results/
tools/

#.vscode
*tags
*cscope.out
*cscope.files

*~
*.swp
*.o
*.so
*.elf
*.exe
make.out
core
*.out
pin.log
nbproject/
/rpmbuild/
/dpkgbuild/
/rpm/
/dpkg/
/user.mk
*.user
~*
*.db
*.htmp
*.hpptmp
*.aps
tags
*.link

*.eps

.vagrant
vm-scripts/custom.sh
*.ccls-cache/
.cache
.DS_Store
*.log
*.bin

compile_commands.json
